<footer>
    <div class="fill row whole-menu">
        <div class="col-sm-4 navbar-header">
            <ul>
                <li class="full-nav med-nav mini-nav">
                    <a class="navbar-fp" href="/">F o o d P r i n t</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 love-in-SF">
            Made with <i class="fas fa-heart"></i> in San Francisco
        </div>

        <div class="col-sm-4 middle-footer">
            P a n d a &nbsp; D r e a m s 🐼
        </div>
    </div>

    <div class="fill row">
        <div class="useful-links col-sm-4">
            <br>
            <ul>Useful Links
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Food & Carbon</a></li>
                <li><a href="#">Medium Articles</a></li>
            </ul>
        </div>
        <div class="contact-info col-sm-4">
            <br>
            <ul>The Team
                <li><a href="#">More about Faith</a></li>
                <li><a href="#">More about Javier</a></li>
            </ul>
        </div>
        <div class="social links col-sm-4">
            <br>
            <ul>Follow Us On
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
