<nav id="navbar-main" class="navbar navbar-light fill" role="navigation">
  <div class="whole-menu container-fluid">
    <div class="navbar-header pull-left">
        <ul>
            <li>
                <a class="navbar-brand" href="/">F o o d P r i n t</a>
            </li>
        </ul>
    </div>

    <div id="menuToggle"class="main-menu pull-right">

        <ul>
            <!-- Only display logout on nav if current user -->
            {{#if currentUser}}
            <li class="not-symbols"><a href="/logout">Logout</a></li>
            <li class="symbols">
                <a href="/logout">
                    <i alt="logout"class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            <!-- Only display login/sign-up on nav if current user -->
            {{else}}
            <li class="not-symbols"><a href="/login">Login</a></li>
            <li class="symbols">
                <a href="/login">
                    <i class="fas fa-users"></i>
                </a>
            </li>

            <li class="not-symbols"><a href="/sign-up">Sign Up</a></li>
            <li class="symbols">
                <a href="/sign-up"><i class="fas fa-user-plus"></i></a>
            </li>
            {{/if}}
            
            <li class="symbols">
                <a href="#"><i class="fas fa-utensils"></i></a>
            </li>
            <li class="symbols">
                <a href="#"><i class="fas fa-tree"></i></a>
            </li>
            <li class="symbols">
                <a href="#"><i class="fas fa-thumbtack"></i></a>
            </li>

        </ul>
    </div>
  </div>
</nav>
