<nav id="navbar-main" class="navbar navbar-light fill" role="navigation">
  <div class="whole-menu container-fluid">
    <div class="navbar-header pull-left">
        <ul>
            <li>
                <a class="navbar-brand" href="/">F o o d P r i n t</a>
            </li>
        </ul>
    </div>

    <label for="toggle-1" class="toggle-menu">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </label>
    <div id="menuToggle"class="main-menu pull-right">
        <!-- Checkbox to act as click receiver -->
        <input type="checkbox" id="toggle-1"/>

        <ul>
            {{#if currentUser}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            {{/if}}
            <li class="hidden-nav"><a href="#">Why FoodPrint?</a></li>
            <li class="hidden-nav"><a href="#">What is C02e?</a></li>
            <li class="hidden-nav"><a href="#">Other Resources</a></li>
        </ul>
    </div>
    <a href="#main-menu-toggle" class="backdrop" hidden></a>
  </div>
</nav>
