<nav id="navbar-main" class="navbar navbar-light fill">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
        <ul>
            <li>
                <a class="navbar-brand" href="/">F o o d P r i n t</a>
            </li>
        </ul>
    </div>

    <div class="pull-right hamburger" id="hamburgerMenu">
        <ul>
            {{#if currentUser}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            {{/if}}
            <li class="hidden-nav"><a href="#">Why FoodPrint?</a></li>
            <li class="hidden-nav"><a href="#">What is C02e?</a></li>
            <li class="hidden-nav"><a href="#">Other Resources</a></li>
        </ul>
    </div>
    <a id="ham" class="pull-right class fa fa-bars" href="javascript:void(0);" class="icon" onclick="navHamburger()">
        <i class="fas fa-bars"></i>
    </a>
  </div>
</nav>
